/* Base Styles */
.styled-button, .analysis-board-options-button {
    display: inline-block;
    margin: 5px auto; /* Center the buttons horizontally */
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    transition: background-color 0.3s;
}

.styled-button{
    background-color: #007BFF;
    color: white;
}

.analysis-board-options-button{
    background-color: #9b9b9b;
    color: white;
}

.action-button-container {
    display: flex;
    gap:5px;
}

.button-hover {
    background-color: rgba(0, 123, 255, 0.8);
}

.divider {
    height: 1px;
    background-color: #000000;
}

/* Container Styles */
.parent-container {
    position: fixed;
    bottom: 60px;
    left: 100px;
    z-index: 9999;
    text-align: center;
}

.button-container {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically */
    max-width: 200px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.user-logout-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


/* Config Styles */
.config-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

.multiple-lines-label {
    margin-right: 5px;
}

.multiple-lines-dropdown {
    padding: 0px;
    margin: 0px;
    line-height: 1;
}

/* Details Section */
.details-section {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.user-details {
    margin-left: 7px;
    font-size: 13px;
    text-decoration: underline;
}

.user-details.logged-out {
    font-style: italic;
    text-decoration: none;
}

.logout-button {
    margin-left: auto;
    font-size: 13px;
}

/* Status Text Styles */
.status-text {
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.status-text.inactive {
    font-style: normal;
    font-weight: normal;
}

.status-text.waiting {
    font-style: italic;
    font-weight: normal;
}

.status-text.observing {
    font-style: normal;
    font-weight: bold;
}

.status-text.login-successful, .status-text.logout-successful{
    color: green;
}

.status-text.login-failed {
    color: red;
}


/* Miscellaneous Styles */
.hidden {
    display: none;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
